[user]
  email = madhatter@nostalgix.org
	name = Arvid Warnecke
  # Set the default public key for ddour private account
  signingkey = ~/.ssh/id_ed25519.pub

[color]
    branch = auto
    diff = auto
    status = auto

[color "branch"]
    current = red reverse
    local = blue
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[alias]
    st = status -s
    cl = clone
    ci = commit
    cm = commit -m
	co = checkout
	glog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --

[push]
    default = tracking
[pull]
    default = current
	rebase = true
[diff]
  memonicprefix = true
[core]
	excludesfile = ~/.gitignore

[init]
	defaultBranch = main

[commit]
  # Enable commit signing by default
  gpgsign = true
[gpg]
  # Set the format to ssh instead of the default openpgp
  format = ssh
[gpg "ssh"]
  # Path to the allowed signers file for local verification
  allowedSignersFile = ~/.ssh/allowed_signers
[url "git@github.com:"]
	insteadOf = https://github.com/
