[Match]
Name=wlan*

[Network]
DHCP=yes

# Split-DNS: .fritz.box is only resolved by FritzBox in local network
DNS=192.168.0.1
DNS=9.9.9.9#dns.quad9.net
DNS=2620:fe::fe#dns.quad9.net
Domains=~fritz.box ~fritz.nas ~0.168.192.in-addr.arpa
#DNSDefaultRoute=yes
DNSOverTLS=no
DNSSEC=no

[DHCP]
UseDNS=no
UseDomains=no

[DHCPv6]
UseDNS=no
UseDomains=no

[IPv6AcceptRA]
UseDNS=no
UseDomains=no

