[Unit]
Description=Disable USB controller wakeups to prevent suspend loops
DefaultDependencies=no

[Service]
Type=oneshot
# Check if XHC is enabled for wakeup. If true, toggle it to disable.
ExecStart=/bin/sh -c "if grep -q '^XHC.*enabled' /proc/acpi/wakeup; then echo XHC > /proc/acpi/wakeup; fi"

[Install]
WantedBy=multi-user.target
